{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Porsche</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eligendi numquam blanditiis magni quo sint esse magnam impedit accusamus, temporibus ratione vero distinctio ab ipsum cumque sed nihil error alias.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/porsche-model.png" class="img-thumbnail" alt="">
        </div>
    </div>

{{> footer }}